/* Start Global Rules */
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* main variables */
:root {
    --mainColor: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px
}

/* Small Screen */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium screen */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large screens */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Components */


.main-heading {
    text-align: center;
}

.main-heading h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 40px;
    position: relative;
}

.main-heading h2::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 130px;
    background-color: #333;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.main-heading h2::after {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border: 2px solid #333;
    border-radius: 50%;
    bottom: 1;
    left: 50%;
    background-color: white;
    transform: translateX(-50%);

}

.main-heading p {
    padding-top: 30px;
    padding-bottom: 100px;
    color: #777;
    line-height: 2;
}

/* End Components */

/* Start Header */
header {
    position: absolute;
    z-index: 2;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 97px;
    position: relative;
}

header .container::after {
    content: "";
    background-color: #b0aaaa;
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    bottom: 0;
}


header .container nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

header .container nav ul {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.toggle-menu {
    color: white;
    display: none;
}

@media (max-width:778px) {
    header .container nav ul {
        display: none;
    }

    .toggle-menu {
        display: block;
    }
}

.toggle-menu:hover+ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.toggle-menu:hover+ul li a {
    padding: 15px;
}

header .container nav ul li a {
    color: white;
    text-decoration: none;
    padding: 40px 10px;
    transition: 0.4s;
    display: block;
    z-index: 2;
    position: relative;
}

header .container nav ul li a.active,
header .container nav ul li a:hover {
    color: var(--mainColor);
    border-bottom: 1px solid var(--mainColor);

}

header .container nav .search {
    color: white;
    border-left: 1px solid white;
    width: 40px;
    height: 30px;
    position: relative;
}

header .container nav .search i {
    position: absolute;
    right: 0;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* End Header */

/* Start Landing */
.landing {
    position: relative;
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url(../imgs/landing.jpg);
    background-size: cover;
}

.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000071;
}

.landing .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 50px;
    color: white;
    background-color: var(--transparent-color);
}

.landing .text .content {
    max-width: 500px;
}

.landing .text .content h2 {
    line-height: 1.5;
    font-size: 32px;
    font-weight: normal;

    padding-bottom: 20px;
}

.landing .text .content p {
    line-height: 2;
    font-size: 14px;
}

@media (max-width:767px) {
    .landing .text {
        width: 100%;
    }

    .landing .background-arrows {
        display: none;
    }

    .landing .text .content {
        width: 100%;
    }
}

.landing .background-arrows {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}

.landing .bullets {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.landing .bullets li.active {
    background-color: var(--mainColor);
    border-color: var(--mainColor);
}

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media (min-width:768px) {
    .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        column-gap: 30px;
        row-gap: 70px;
    }
}

.srv-box {
    display: flex;
}

.srv-box h2 {
    color: var(--mainColor);
    font-size: 18px;
}

.srv-box p {
    color: #777;
    line-height: 2;
    margin-top: 20px;
}

.srv-box i {
    margin-right: 40px;
}

@media(max-width:768px) {
    .srv-box {
        display: flex;
        flex-direction: column;
    }

    .services-container {
        text-align: center;
    }

    .srv-box i {
        margin-bottom: 30px;
    }

    .srv-box p {
        margin-bottom: 30px;
    }
}

/* End Landing */

/* Start Design */
.design {
    margin-bottom: var(--section-padding);
    background-image: url("../imgs/design-features.jpg");
    display: flex;
    background-size: cover;
    position: relative;
    height: 600px;
    overflow: hidden;
    align-items: center;
}

.design::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000071;
    justify-content: space-around;

}

.design .image,
.design .text {
    flex: 1;
    z-index: 2;
    position: relative;
}

.design .image {
    position: relative;
    bottom: -200;
    text-align: center;
}

.design .text {
    background-color: var(--transparent-color);
    color: white;
    padding: 50px;
}

.design .text h3 {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 26px;
}

.design .text ul li {
    margin-bottom: 30px;
}

.design .text ul li::before {
    content: '\f390';
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    margin-right: 15px;
}

@media (max-width:767px) {
    .design .image {
        display: none;
    }

    .design .text {
        flex: 1;
    }
}

/* End Design */

/* Start Portfolio */
.porfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.porfolio .shuffle {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.porfolio .shuffle li {
    padding: 10px;
}

.porfolio .shuffle li.active {
    background-color: var(--mainColor);
    color: white;
}

.porfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
}

.porfolio .imgs-container .img-box {
    position: relative;
    overflow: hidden;

}

.porfolio .imgs-container .img-box img {
    width: 100%;
    transition-duration: 0.3s;
}

.porfolio .imgs-container .img-box img:hover {
    transform: rotate(5deg) scale(1.2);
}

@media (min-width:767px) {
    .porfolio .imgs-container .img-box {
        flex-basis: 50%;
    }
}

@media (min-width:1199px) {
    .porfolio .imgs-container .img-box {
        flex-basis: 25%;
    }
}

.porfolio .imgs-container .img-box .text {
    background-color: white;
    position: absolute;
    bottom: -100%;
    transition-duration: 0.3s;
}

.porfolio .imgs-container .img-box:hover .text {
    bottom: 0;
    width: 100%;
}

.porfolio .imgs-container .img-box h3 {
    font-weight: normal;
    margin: 15px;
}

.porfolio .imgs-container .img-box p {
    color: var(--mainColor);
    margin: 15px;
}

.porfolio a {
    text-decoration: none;
    color: white;
    background-color: var(--mainColor);
    display: block;
    width: fit-content;
    padding: 15px;
    margin: 20px auto;
    text-transform: uppercase;
}

/* End Portfolio */

/* Start Video */
.video {
    position: relative;

}

.video video {
    width: 100%;
}

.video .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background-color: var(--transparent-color);
    width: 100%;
    padding: 40px;
    color: white;

}

.video .text h3 {
    font-weight: normal;
    margin: 0 0 20px;
}

.video .text p {
    margin: 0 0 20px;
}

.video .text button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width:467px) {
    .video .text {
        padding: 10px;
    }
}

/* End Video */
/* Start About */
.about {
    padding-top: var(--section-padding);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.about img {
    max-width: 100%;
    position: relative;
    bottom: -100px;
    margin-top: -100px;
}

@media (max-width:767px) {
    .about img {
        margin-top: -150px;
    }
}

/* End About */
/* Start Status */
.status {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../imgs/stats.png");
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}

.status::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000095;
}

.status .container {
    display: flex;
    flex-wrap: wrap;
}

.status .container .status-box {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--transparent-color);
    padding: 50px;
}

.status .container .status-box i {
    background-color: black;
    display: flex;
    max-width: fit-content;
    padding: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    font-size: 20px;
}


.status .container .status-box .number {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}



@media (max-width:767px) {
    .status .container .status-box {
        flex-basis: 100%;
        position: relative;
    }

    .status .container .status-box i ::after {
        border-bottom: 5px solid #333;
    }
}

@media (min-width:768px) {
    .status .container .status-box {
        flex-basis: 50%;
        position: relative;
    }
}

@media (min-width:992px) {
    .status .container .status-box {
        flex-basis: 25%;
        position: relative;
    }
}

/* End Status */

/* Start Our Skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

}

.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.our-skills .container .testimonials h3,
.our-skills .container .skills h3 {
    font-weight: normal;
    padding: 0 0 30px;
}

.our-skills .container .testimonials p,
.our-skills .container .skills p {
    padding: 0 0 40px;
    color: #777;
    line-height: 2;
}

.our-skills .testimonials .info {
    display: flex;
}

.our-skills .testimonials .info img {
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}

.our-skills .testimonials .info .paragraph {
    padding: 0 0 20px;
    line-height: 2;
}

.our-skills .testimonials .info p {
    text-align: right;
}

/* Direct Child Div*/

@media (min-width:767px) {
    .our-skills .container>div {
        flex-basis: 45%;
    }
}

.our-skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.our-skills .testimonials .bullets li {
    width: 15px;
    height: 15px;
    border: 1px solid #777;
    border-radius: 50%;
    background-color: white;
    margin-right: 5px;
}

.our-skills .testimonials .bullets li.active {
    background-color: var(--mainColor);
    border-color: var(--mainColor);
}

.our-skills .skills .prog-info {
    margin-bottom: 40px;
}

.our-skills .skills .prog-info h3 {
    text-align: left;
}

.our-skills .skills .prog-info .prog {
    background-color: #aaa;
    height: 30px;
}

.our-skills .skills .prog-info .prog span {
    background-color: var(--mainColor);
    height: 100%;
    position: relative;
    display: block;
}

.our-skills .skills .prog-info .prog span::before {
    content: attr(data-progress);
    background-color: black;
    color: white;
    padding: 5px;
    width: 30px;
    border-radius: 5px;
    position: absolute;
    top: -40px;
    right: -20px;
}

.our-skills .skills .prog-info .prog span::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: black transparent transparent transparent;
    border-width: 8px;
    right: -9px;
    top: -12px;
}

/* End Our Skills */

/* Start Quote */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../imgs/quote.jpg");
    background-size: cover;
    text-align: center;
    position: relative;
}

.quote::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0c0101b5;

}

.quote .container {
    position: relative;
    color: white;
    z-index: 3;

}

.quote q {
    font-size: 30px;
}

.quote span {
    display: block;
    margin: 20px 0;
}

/* End Quote */

/* Start Pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    text-align: center;
}

.pricing .plans .plan {
    background-color: #fcfcfc;
}

.pricing .plans .plan span {
    padding: 30px 0;
    display: block;
    border-top: 1px solid var(--mainColor);

}

.pricing .plans .plan h3 {
    border-bottom: 1px solid var(--mainColor);
    font-size: 60px;
    padding-bottom: 30px;
}

.pricing .plans .plan h3::before {
    content: '$';
    font-size: 25px;
    position: relative;
    top: -30px;
    margin-right: 15px;
    font-weight: norm;
}

.pricing .plans .plan h3::after {
    content: '/MO';
    font-size: 20px;
    margin-left: 20px;
}

.pricing .plans .plan ul {
    border-bottom: 1px solid var(--mainColor);
}

.pricing .plans .plan ul li {
    padding: 20px 0;
    position: relative;

}

.pricing .plans .plan ul li:not(:last-child)::after {
    content: '';
    width: 150px;
    height: 1px;
    background-color: var(--mainColor);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
}

.pricing .plans .plan a {
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
    width: fit-content;
    margin: 20px auto;
    display: block;
    border: 1px solid var(--mainColor);
    transition-duration: 0.5s;
    border-radius: 5px;
    color: var(--mainColor);
}

.pricing .plans .plan a:hover {
    background-color: var(--mainColor);
    color: white;
}

.pricing .container .pricing-text {
    display: relative;
    font-size: 20px;
    text-align: center;
    margin-top: 70px;
}

.pricing .contact-link {
    text-decoration: none;
    color: white;
    background-color: var(--mainColor);
    padding: 10px 30px;
    display: block;
    width: fit-content;
    margin: 20px auto;
}

/* End Pricing */

/* Start sunscribe */
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../imgs/subscribe.jpg");
    background-size: cover;
    position: relative;
    color: white;
}

.subscribe::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000071;

}

.subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
}

.subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;

}

.subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.subscribe form input[type="email"] {
    padding: 10px 10px 10px 60px;
    background: none;
    border: 1px solid white;
    border-right: none;
    width: calc(100% - 130px);
}

.subscribe form input[type="email"]::placeholder {
    color: white;
}

.subscribe form input[type="email"]:focus {
    caret-color: var(--mainColor);
    outline: none;
}

.subscribe form input[type="submit"] {
    background-color: var(--mainColor);
    color: white;
    border: 1px solid white;
    border-left: none;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 130px;
}

.subscribe p {
    line-height: 2;
    margin-left: 50px;
}

@media(max-width:767px) {
    .subscribe .container {
        flex-direction: column;
    }

    .subscribe p {
        margin: 20px 0;
        max-width: 100%;
    }
}

/* End sunscribe */

/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .container .content {
    display: flex;
    justify-content: space-between;

}

@media(max-width:767px) {
    .contact .container .content {
        flex-direction: column;

    }
}

.contact .content form {
    flex-basis: 70%;
}

.contact .content form .main-input {
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
}

.contact .content form textarea.main-input {
    height: 200px;
}

.contact .content form .main-input:focus {
    outline: none;
}

.contact .content form .send-message {
    background-color: var(--mainColor);
    color: white;
    border: none;
    padding: 20px;
    text-transform: uppercase;
    display: flex;
    margin-left: auto;
    cursor: pointer;
}

.contact .content .info {
    flex-basis: 25%;
}

@media(max-width:767px) {
    .contact .content .info {
        text-align: center;
        order: -1;
    }
}

.contact .content .info h3 {
    font-weight: normal;
    margin-bottom: 30px;
}


.contact .content .info .phone {
    display: block;
    margin-bottom: 15px;
    color: #777;
}

.contact .content .info h3:nth-of-type(2) {
    margin-top: 95px;
}

@media(max-width:767px) {
    .contact .content .info h3:nth-of-type(2) {
        margin-top: 30px;
    }
}

.contact .content .info address {
    line-height: 2;
    color: #777;
}

@media(max-width:767px) {
    .contact .content .info address {
        margin-bottom: 30px;
    }
}

/* End Contact */

/* Start Footer */
.footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url("../imgs/subscribe.jpg");
    background-size: cover;
    position: relative;
}

.footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000b6;
}

.footer .container {
    position: relative;
    color: white;
    text-align: center;
}

.footer .container .logo {
    margin-bottom: 50px;
}

.footer .container h3 {
    font-weight: normal;
    margin-bottom: 20px;
    position: relative;
    font-size: 25px;
}

.footer .container h3::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 220px;
    background-color: white;
    bottom: -50px;
    margin-bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

.footer .container ul {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 45px;
    position: relative;

}

.footer .container ul li i {
    padding: 0 15px 0 15px;
    margin-bottom: 30px;
    color: white;


}

.footer .container p span {
    color: var(--mainColor);
    font-weight: bold;
}

/* End Footer */